*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto; /*para centrar los bloques se ocupa el auto*/
	background: yellow;
}

.row:before, .row:after{
	content:"";
	display:table;
}


.row:after{
	clear: both; /*limpiar los elementos que flotas*/
}

[class*="col-"]{
	float: left;
	min-height: 7px;
	padding: 15px; /*gutters que hay entre columnas*/
	background: yellow;
	border: white 4px solid;
}

.col-1{width: 8.33%}
.col-2{width: 16.66%;
background: #AFFF00;}
.col-3{width: 25%;
background:#1EE2A6;}
.col-4{width: 33.33%;
background:#01B6AD;}
.col-5{width: 41.66%}
.col-6{width: 50%;
background:#9C42D1;}
.col-7{width: 58.33%}
.col-8{width: 66.66%}
.col-9{width: 75%}
.col-10{width: 83.33%}
.col-11{width: 91.66%}
.col-12{width: 100%;
background: #D126A9;}

@media all and (max-width: 450px){
	[class*="col-"]{
		width:100%; 
	}
}


@media only screen and {
max-width:	700px;
	body {
		background-color: lightblue;
	}
}